/* 此文件中包含所有页面都共用的全局css */
* {
	/* box-sizing: content-box;/*内容盒子*/ 
	box-sizing: border-box;		/*边框盒子*/
}
body {
	margin:  0;
	color: #555555;
	background: #fff;
	font-size: 12px; 									/*字体大小*/
	line-height: 1.667;									/*行高：1.667em*/
	font-family: "Arial, Helvetica, sans-serif";		/*字体*/
}
a {
	color: #555555;
	text-decoration: none;
}
a:hover {
		color: #f60;
}
li {
	list-style: none;
}